<!-- <div class="title">
    <b class="$TITLE">
        Texto
    </b>
    <div class="circle float-right circle-32px $UPGRADE">
        🌇
    </div>
    <hr>
</div>
<div class="body">
    <span class="$TEXT">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptate inventore soluta incidunt corporis modi harum non earum officia aut quae beatae culpa distinctio quos, doloremque sint saepe magnam similique tempore nulla vitae, est iure dicta. Adipisci
        mollitia deserunt quibusdam nihil, quasi architecto voluptate consequuntur consequatur nam amet velit quae.
    </span>
    <div class="info">
        <div class="left">
            <div>Have:</div>
            <div class="list left-list $HAVE">
            </div>
        </div>
        <hr>
        <div class="right">
            <div>Need:</div>
            <div class="list right-list $NEEDS">
                <div class="circle circle-24px">
                    🧱
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="title">
    <b class="$TITLE">
        Texto
    </b>
    <div class="circle float-right circle-32px $UPGRADE">
        🌇
    </div>
    <hr>
</div>
<div class="body">
    <span class="$TEXT hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptate inventore soluta incidunt corporis modi harum non earum officia aut quae beatae culpa distinctio quos, doloremque sint saepe magnam similique tempore nulla vitae, est iure dicta. Adipisci
        mollitia deserunt quibusdam nihil, quasi architecto voluptate consequuntur consequatur nam amet velit quae.
    </span>
    <div class="info">
        <div class="left">
            <div>Have:</div>
            <div class="list left-list $HAVE">
                <div class="circle circle-24px">
                    🧱
                    <div class="$NUMBER">
                        10
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="right">
            <div>Need:</div>
            <div class="list right-list $NEEDS">
                <div class="circle circle-24px">
                    🧱
                    <div class="$NUMBER">
                        10
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>