<style>
    .UpgradeElement {
        display: flex;
        pointer-events: all;
        user-select: none;
        background-color: #bfb9dd65;
        backdrop-filter: blur(2px);
    }
    
    .UpgradeElement>.cardDisplay {
        display: flex;
        justify-content: center;
        width: 80vw;
        margin: auto;
    }
    
    .UpgradeElement>.title {
        position: absolute;
        color: #00000054;
        top: 30px;
        width: inherit;
        text-align: center;
        font-size: 2.25em;
    }
    
    .cards {
        margin: auto;
        background-color: #29282ebe;
        backdrop-filter: blur(2px) brightness(50%);
        border-radius: 10px;
        padding: 20px;
        width: 20vw;
        height: 30vw;
    }
    
    .cards>.title {
        color: #fff;
        /* text-align: center; */
        font-size: 1.75em;
    }
    
    .cards>p {
        color: #c4c4c4;
        overflow-y: auto;
        font-size: 1em;
        margin-top: -2px;
        line-height: 1.75em;
    }
    
    .hidden {
        display: none;
    }
</style>

<div class="title"><b><i>Upgrades</i></b></div>
<div class="cardDisplay">
    <div class="cards">
        <div class="title">
            <b class="$TITLE">
                Industrial City
            </b>
            <hr>
        </div>
        <p class="$TEXT">
            Your city industry production is increased twice
        </p>
    </div>
    <div class="cards">
        <div class="title">
            <b class="$TITLE">
                Industrial City
            </b>
            <hr>
        </div>
        <p class="$TEXT">
            Your city industry production is increased twice
        </p>
    </div>
    <div class="cards">
        <div class="title">
            <b class="$TITLE">
                Industrial City
            </b>
            <hr>
        </div>
        <p class="$TEXT">
            Your city industry production is increased twice
        </p>
    </div>
</div>