<style>
    .UpgradeElement {
        position: absolute;
        display: flex;
        pointer-events: all;
        user-select: none;
        background-color: #bfb9dd65;
        backdrop-filter: blur(2px);
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    
    .UpgradeElement>.cardDisplay {
        display: flex;
        justify-content: center;
        width: 80vw;
        margin: auto;
    }
    
    .UpgradeElement>.title {
        position: absolute;
        color: #00000077;
        top: 30px;
        width: 100%;
        text-align: center;
        font-size: 2.25em;
    }
    
    .cards {
        transition-duration: 100ms;
        margin: auto;
        background-color: #29282ebe;
        backdrop-filter: blur(2px) brightness(50%);
        border-radius: 10px;
        padding: 20px;
        width: 20vw;
        height: 10em;
        cursor: pointer;
    }
    
    .cards:hover {
        transition-duration: 100ms;
        transform: scale(110%);
    }
    
    .cards>.title {
        color: #fff;
        /* text-align: center; */
        font-size: 1.75em;
    }
    
    .cards>p {
        color: #c4c4c4;
        overflow-y: auto;
        font-size: 1em;
        margin-top: -2px;
        line-height: 1.75em;
        text-align: center;
    }
    
    .hidden {
        display: none;
    }
</style>

<div class="title"><b><i>Upgrades</i></b></div>
<div class="cardDisplay">
    <div class="cards">
        <div class="title">
            <b class="$TITLE">
                Industrial City
            </b>
            <div class="circle float-right circle-32px $UPGRADE">
                🌇
            </div>
            <hr>
        </div>
        <p class="$TEXT">
            Your city industry production is increased twice
        </p>
    </div>
    <div class="cards">
        <div class="title">
            <b class="$TITLE">
                Industrial City
            </b>
            <div class="circle float-right circle-32px $UPGRADE">
                🌇
            </div>
            <hr>
        </div>
        <p class="$TEXT">
            Your city industry production is increased twice
        </p>
    </div>
    <div class="cards">
        <div class="title">
            <b class="$TITLE">
                Industrial City
            </b>
            <div class="circle float-right circle-32px $UPGRADE">
                🌇
            </div>
            <hr>
        </div>
        <p class="$TEXT">
            Your city industry production is increased twice
        </p>
    </div>
</div>