.BoxElement {
    background-color: #ffffff77;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    pointer-events: all;
    font-size: 1.5em;
}

#UI {
    pointer-events: none;
}